wp-admin
wp-includes

wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
# ignore this plugins
wp-content/plugins/advanced-custom-fields
wp-content/plugins/classic-editor
wp-content/plugins/really-simple-csv-importer

# ignore all themes
# unless explicitly whitelisted at the end of this file
wp-content/themes/*

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# track these themes
# add your own entries here
!wp-content/themes/example-theme/


### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

